.features {
  margin: 200px auto;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  @include M780 {
    grid-template-columns: 1fr;
  }
  .features__row {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 50px;
    place-items: center;
    &:not(:last-child) {
      margin-bottom: 80px;
    }
    .feature {
      text-align: center;
      .feature__img {
        margin-bottom: 30px;
        img {
          width: 100%;
          height: 120px;
        }
      }
      .feature__text {
        font-weight: 600 !important;
        display: block;
        &:not(:last-child) {
          margin-bottom: 7px;
        }
      }
    }
  }
}

.pdf {
  margin-top: 20px;
  background: #e2eaf5 !important;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 20px !important;
  padding: 30px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .pdf__btn {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px !important;
  }
}
