.glance {
  width: 100%;
  max-width: 980px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 150px auto;
  margin-top: -90px;
  grid-gap: 50px;
  @include M1200 {
    grid-template-columns: repeat(2, 1fr);
  }
  .glance__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 150px;
      height: 150px;
      &.glance__img--big {
        width: 220px;
      }
    }
  }
  .glance__text {
    margin-top: 40px;
    font-weight: 600 !important;
    font-size: 16px !important;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    &.glance__text--kr {
      font-size: 18px !important;
    }
  }
}
