.testimonials {
  margin: 80px auto;
  .testimonials__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    .testimonials__testimonial {
      border: 2px solid $darkPurple;
      &:last-child {
        display: flex;
        align-items: center;
        text-decoration: underline !important;
        justify-content: center;
        a {
          font-weight: 600 !important;
        }
      }
    }
  }
  @include M780 {
    margin: 40px auto;
    .testimonials__grid {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
}

.testimonial,
.testimonials__testimonial {
  box-shadow: $teachableShadow;
  padding: 25px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 30px;
  line-height: 160%;
}
