.trailer {
  margin-top: 80px;
  margin-bottom: 170px;
  .trailer__container {
    display: flex;
    justify-content: center;
    iframe {
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.45) 0 30px 60px;
    }
  }
}
