.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus:hover,
.btn-primary {
  background: linear-gradient(to left, #fdc830, #f37335) !important;
  border: none !important;
  font-size: 16px !important;
  letter-spacing: normal !important;
}

.btn-primary {
  line-height: 1.17649;
  text-align: center;
  letter-spacing: -0.022em;
  width: 100%;
  max-width: 290px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-radius: 65px;
  padding: 15px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
  margin: 0 auto;
  transition: box-shadow 0.2s linear, transform 0.2s linear;
}

.btn-hg,
.btn-hg:hover,
.btn-hg:focus,
.btn-hg:focus:hover {
  background: linear-gradient(to left, #8e2de2, #4a00e0) !important;
  font-size: 18px !important;
  padding: 20px !important;
}

.btn:hover,
.btn-hg:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  transform: translateY(-3px);
}

.title-container .btn-primary,
.section-list .btn-primary,
.section-list .btn-primary:hover,
.section-list .btn-primary:active:hover,
.section-list .btn-primary:focus:hover,
.title-container .btn-primary:hover,
.title-container .btn-primary:active:hover,
.title-container .btn-primary:focus:hover,
div.quiz-controls button.btn-primary,
div.quiz-controls button.btn-primary:hover,
div.quiz-controls button.btn-primary:active:hover,
div.quiz-controls button.btn-primary:focus:hover {
  background: #0575e6 !important;
  max-width: 120px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border: 0px !important;
  box-sizing: border-box;
}

div.quiz-controls button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.start-next-lecture {
  background-image: linear-gradient(to left, #0575e6, #021b79) !important;
}

.start-next-lecture:hover {
  background-image: linear-gradient(to left, #0575e6, #021b79) !important;
  transform: scale(1.05);
}
