.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://nomad-coders-assets.s3.ap-northeast-2.amazonaws.com/static/img/bgs/homeBG.jpg");
  background-size: cover;
  background-position: center -100px;
  height: 700px;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
  padding-left: 30px;
  padding-right: 30px;
  .home-hero__title {
    font-size: 48px !important;
    color: white;
    margin-bottom: 50px;
    text-align: center;
  }
}
.hero__wave {
  top: -155px !important;
  margin-bottom: -150px;
}
