.reviews__page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  max-width: 1170px;
  padding: 0 30px;
  margin: 150px auto;
  grid-gap: 50px;
}

.review {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: $teachableShadow;
  img {
    position: relative;
    box-shadow: $teachableShadow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
