@keyframes bgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.roadmap {
  margin-bottom: 150px;
  .roadmap__level {
    .roadmap__level-title {
      text-align: center;
      font-size: 24px;
      font-weight: 600 !important;
      margin-bottom: 40px;
      font-family: "Montserrat", sans-serif;
    }
    .roadmap__map {
      list-style-type: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 40px;
      grid-template-rows: 80px;
      grid-auto-rows: 80px;
      padding: 0px 80px;
      .roadmap__map-item {
        text-align: center;
        box-shadow: $teachableShadow;
        cursor: pointer;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        transition: all 0.2s ease-in-out;
        border-radius: 10px;
        background-image: linear-gradient(-90deg, #0575e6, #021b79) !important;
        color: white;
        font-weight: 600 !important;
        position: relative;
        span {
          position: absolute;
          font-weight: 600 !important;
          transition: opacity 0.3s ease-in-out;
        }
        .tech {
          opacity: 0;
        }
        &.map-clone {
          background: linear-gradient(-90deg, #fdc830, #f37335) !important;
        }
        &:hover {
          transform: scale(1.05);
          .name {
            opacity: 0;
          }
          .tech {
            opacity: 1;
          }
        }
        &.map-clone {
          animation: bgAnim 3s linear infinite;
          background-size: 400% 400% !important;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }
}
