@import "resets.scss";
@import "header.scss";
@import "course-card.scss";
@import "buttons.scss";

.homepage-hero {
  padding-top: 250px;
  color: inherit;
}

.course-block,
.block,
.course-block.odd-stripe,
.block.odd-stripe,
.course-block.even-stripe,
.block.even-stripe,
.blog-container,
.course-mainbar,
.course-sidebar {
  background-color: #f5f6f7 !important;
}

.course-sidebar {
  border-right: 0px;
}

.homepage_hero {
  background-color: transparent !important;
}

.course-listing {
  all: unset;
}

.featured_courses > .container > h2 {
  margin: 35px;
}

.lower-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  font-weight: 700;
  color: #284c8e;
  font-size: 18px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.lower-row > div {
  margin-bottom: 10px;
}

.lower-row .course-price {
  margin-left: auto;
}

.show-love {
  margin-top: 20px;
}

.course-section {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  background-color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
}

.course-section .section-title,
.course-section ul.section-list .section-item .item {
  background-color: transparent;
}

.course-section ul.section-list .section-item .item .btn-primary {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
}

.course-section .section-title {
  font-size: 18px;
}

#more_lecture_sections.collapsed {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  border: none;
}

.sexy-shadow {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.no-padding {
  padding: 0;
}
.blog-container {
  margin-bottom: 80px;
}
footer {
  bottom: 0px;
}

#enroll-button-top[data-course-id="351710"] {
  display: none;
}

@media (max-width: 960px) {
  .course-sidebar.collapse {
    display: none;
  }
  .course-mainbar {
    margin-left: 0 !important;
  }
}

.course-filter {
  display: flex;
  align-items: center;
}

.course-filter .btn-group button {
  padding: 5px !important;
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  background-size: cover;
  background-position: center center;
}

.reviews .reviews__title {
  color: white;
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 50px;
}

.review {
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 25px;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 15px 15px rgba(0, 0, 0, 0.2);
}

.review .review__header-container {
  display: flex;
  justify-content: space-between;
}

.review .review__header {
  display: flex;
  margin-bottom: 15px;
  font-weight: 600;
}

.review__header .review__avatar {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.review__name-container .review__name {
  display: block;
}

.review__name-container .review__date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.review__content .review__review {
  font-size: 16px !important;
}

.review__content .review__stars {
  font-size: 12px;
}

.review .review__source {
  font-style: italic;
}

.review__source a {
  color: #3498db;
}

:root:root:root p {
  font-weight: 400;
}

.reviews__button {
  color: white;
  padding: 16px 30px;
  font-weight: 600;
  border-radius: 50px;
  background-color: #ff9f43;
  margin-top: 25px;
  transition: box-shadow 0.1s ease-out;
}

.reviews__button:hover {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  color: white !important;
}

.reviews__button:focus {
  color: white !important;
}

.reviews__page .hero__reviews {
  min-height: 35vh;
  width: 100%;
  padding: 50px 0px;
}

.reviews__page .reviews__review-list {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews__page {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reviews__review-list .review {
  margin-bottom: 50px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.reviews__page .hero__reviews,
.reviews {
  background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(149, 219, 254, 0.5) 0%,
      rgba(7, 134, 197, 0.5) 90.1%
    ),
    url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-0.3.5…EyMDd9&s=3072165…&auto=format&fit=crop&w=1350&q=80");
  background-position: center center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__page .hero__reviews {
  flex-direction: column;
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.reviews__page .review {
  animation: slideIn 0.5s ease-out;
}

.footer__social .footer__social-title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 14px;
}

.footer__social .footer__social-icons {
  display: flex;
  width: 50%;
  max-width: 300px;
  justify-content: space-between;
}

.footer__social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-link svg {
  fill: #bac1c7;
  transition: fill 0.2s linear;
}

.footer__social-link:hover svg {
  fill: white;
}

.footer__social-link .footer__social-logo {
  height: 48px;
  margin-bottom: 5px;
}

.footer__social-link .footer__social-numbers {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.footer__social-link .footer__social-explanation {
  font-size: 12px;
  text-transform: uppercase;
}

.footer__social a {
  transition: color 0.2s linear;
}

.is-scrolling,
:root:root:root .is-at-top.show-nav-background-color {
  background-color: #232a38 !important;
}

.footer__roadmap,
.footer__social {
  border-bottom: 1px solid rgba(186, 193, 199, 0.5);
  margin: 0 auto;
}

.footer__roadmap {
  text-align: center;
  padding-bottom: 39px;
  color: white;
  margin-bottom: 70px;
  font-size: 18px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.killSidebar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px 10px;
  cursor: pointer;
}

.killSidebar:hover {
  background-color: #2057a8;
}

.hiddenBar {
  transform: translateX(-500px);
}

.fullman {
  margin-left: 0 !important;
}

/*
  Course Card
  */
.alert {
  padding: 20px 0px;
  font-size: 16px;
}

.course-section ul.section-list .section-item .lecture-name,
.form-control {
  font-weight: 400 !important;
}

.search {
  display: none;
}

.description-row,
.description_with_share_icons,
.faq-answer {
  font-weight: 400 !important;
}
.lecture-text-container a {
  color: rgb(0, 122, 255) !important;
}
.quiz-controls {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
