body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  font: inherit;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  background-color: #f5f6f7 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}

input,
label {
  font-size: 16px !important;
}

.homepage-hero {
  padding-top: 250px;
}

.course-block,
.block,
.course-block.odd-stripe,
.block.odd-stripe,
.course-block.even-stripe,
.block.even-stripe,
.blog-container,
.course-mainbar,
.course-sidebar {
  background-color: #f5f6f7 !important;
}

.course-sidebar {
  border-right: 0px;
}

.homepage_hero {
  background-color: transparent !important;
}

.course-listing {
  all: unset;
}

.featured_courses > .container > h2 {
  margin: 35px;
}

.lower-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  font-weight: 700;
  color: #284c8e;
  font-size: 18px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.lower-row > div {
  margin-bottom: 10px;
}

.lower-row .course-price {
  margin-left: auto;
}

.show-love {
  margin-top: 20px;
}

.course-section {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  background-color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
}

.course-section .section-title,
.course-section ul.section-list .section-item .item {
  background-color: transparent;
}

.course-section ul.section-list .section-item .item .btn-primary {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
}

.course-section .section-title {
  font-size: 18px;
}

#more_lecture_sections.collapsed {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  border: none;
}

.sexy-shadow {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.no-padding {
  padding: 0;
}
.blog-container {
  margin-bottom: 80px;
}
footer {
  bottom: 0px;
}

#enroll-button-top[data-course-id="351710"] {
  display: none;
}

@media (max-width: 960px) {
  .course-sidebar.collapse {
    display: none;
  }
  .course-mainbar {
    margin-left: 0 !important;
  }
}

.course-filter {
  display: flex;
  align-items: center;
}

.course-filter .btn-group button {
  padding: 5px !important;
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  background-size: cover;
  background-position: center center;
}

.reviews .reviews__title {
  color: white;
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 50px;
}

.review {
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 25px;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 15px 15px rgba(0, 0, 0, 0.2);
}

.review .review__header-container {
  display: flex;
  justify-content: space-between;
}

.review .review__header {
  display: flex;
  margin-bottom: 15px;
  font-weight: 600;
}

.review__header .review__avatar {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.review__name-container .review__name {
  display: block;
}

.review__name-container .review__date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.review__content .review__review {
  font-size: 16px !important;
}

.review__content .review__stars {
  font-size: 12px;
}

.review .review__source {
  font-style: italic;
}

.review__source a {
  color: #3498db;
}

:root:root:root p {
  font-weight: 400;
}

.reviews__button {
  color: white;
  padding: 16px 30px;
  font-weight: 600;
  border-radius: 50px;
  background-color: #ff9f43;
  margin-top: 25px;
  transition: box-shadow 0.1s ease-out;
}

.reviews__button:hover {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  color: white !important;
}

.reviews__button:focus {
  color: white !important;
}

.reviews__page .hero__reviews {
  min-height: 35vh;
  width: 100%;
  padding: 50px 0px;
}

.reviews__page .reviews__review-list {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews__page {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reviews__review-list .review {
  margin-bottom: 50px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.reviews__page .hero__reviews,
.reviews {
  background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(149, 219, 254, 0.5) 0%,
      rgba(7, 134, 197, 0.5) 90.1%
    ),
    url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-0.3.5…EyMDd9&s=3072165…&auto=format&fit=crop&w=1350&q=80");
  background-position: center center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__page .hero__reviews {
  flex-direction: column;
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.reviews__page .review {
  animation: slideIn 0.5s ease-out;
}

.footer__social .footer__social-title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 14px;
}

.footer__social .footer__social-icons {
  display: flex;
  width: 50%;
  max-width: 300px;
  justify-content: space-between;
}

.footer__social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-link svg {
  fill: #bac1c7;
  transition: fill 0.2s linear;
}

.footer__social-link:hover svg {
  fill: white;
}

.footer__social-link .footer__social-logo {
  height: 48px;
  margin-bottom: 5px;
}

.footer__social-link .footer__social-numbers {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.footer__social-link .footer__social-explanation {
  font-size: 12px;
  text-transform: uppercase;
}

.footer__social a {
  transition: color 0.2s linear;
}

.is-scrolling,
:root:root:root .is-at-top.show-nav-background-color {
  background-color: #232a38 !important;
}

.footer__roadmap,
.footer__social {
  border-bottom: 1px solid rgba(186, 193, 199, 0.5);
  margin: 0 auto;
}

.footer__roadmap {
  text-align: center;
  padding-bottom: 39px;
  color: white;
  margin-bottom: 70px;
  font-size: 18px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.killSidebar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px 10px;
  cursor: pointer;
}

.killSidebar:hover {
  background-color: #2057a8;
}

.hiddenBar {
  transform: translateX(-500px);
}

.fullman {
  margin-left: 0 !important;
}

/*
      HEADER NAVIGATION
  */

.navbar-separator,
.navbar-title {
  font-size: 20px;
  padding-left: 21.5px;
  font-weight: 500 !important;
  border-left: 2px solid white;
}

.header-logo img {
  margin-right: 25px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.navbar-nav li .navbar-link {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.dropdown-menu {
  box-shadow: none;
  border: none;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
}

@media (min-width: 991px) {
  .navbar-right .dropdown-menu {
    right: 15px;
  }
}

.dropdown-menu {
  padding: 10px 0px !important;
}

.dropdown-menu > li {
  font-size: 16px;
  margin-bottom: 5px;
}

.dropdown-menu > li > a:hover {
  background: none !important;
}

.navbar-fedora .navbar-brand.header-logo img:not(.svg) {
  height: auto;
  width: 60px !important;
}

.navbar-fedora .navbar-brand.header-logo img.svg {
  width: 44px !important;
  height: auto;
}

.navbar {
  border: none !important;
}

.navbar-course-hero.is-at-top .navbar-brand:hover,
.navbar-course-hero.is-at-top a.fedora-navbar-link:hover {
  color: white !important;
}

/*
  Course Card
  */
.alert {
  padding: 20px 0px;
  font-size: 16px;
}

.course-section ul.section-list .section-item .lecture-name,
.form-control {
  font-weight: 400 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus:hover,
.btn-primary {
  background: linear-gradient(to left, #fdc830, #f37335) !important;
  border: none !important;
  font-size: 16px !important;
  letter-spacing: normal !important;
}

.btn-primary {
  line-height: 1.17649;
  text-align: center;
  letter-spacing: -0.022em;
  width: 100%;
  max-width: 290px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-radius: 65px;
  padding: 15px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
  margin: 0 auto;
  transition: box-shadow 0.2s linear, transform 0.2s linear;
}

.btn-hg,
.btn-hg:hover,
.btn-hg:focus,
.btn-hg:focus:hover {
  background: linear-gradient(to left, #8e2de2, #4a00e0) !important;
  font-size: 18px !important;
  padding: 20px !important;
}

.btn:hover,
.btn-hg:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  transform: translateY(-3px);
}

.course-listing *,
.course-listing .course__data * {
  all: unset;
}

.course-listing .course-listing-subtitle {
  all: unset;
}

.course-list {
  margin: 50px 0px;
  padding-bottom: 50px;
  display: grid;
  grid-auto-rows: 300px;
  column-gap: 25px;
  row-gap: 45px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.course-list:before,
.course-list:after {
  content: "";
  display: none;
}

.course {
  font-weight: 400 !important;
  cursor: pointer;
  text-align: center !important;
}
.course .course-bundle {
  display: none;
}
.course a:hover {
  color: inherit;
}

.course .course__background {
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: transform 0.6s cubic-bezier(0.2, 0.8, 0.2, 1),
    box-shadow 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.course:hover .course__background {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 30px 60px;
  transform: translateY(-5px);
}

.course .course__background img {
  max-width: 100%;
  transition: transform 0.6s cubic-bezier(0.2, 0.8, 0.2, 1),
    box-shadow 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.course:hover .course__background img {
  transform: scale(1.1);
}

.course .course__data {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px;
  padding: 20px;
  border-radius: 20px;
  width: 96%;
  margin: 0 auto;
  position: relative;
  top: -50px;
  display: block;
  transition: transform 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
  box-sizing: border-box;
  height: 150px;
}

.course:hover .course__data {
  transform: translateY(-10px);
}

.course__data .course-listing-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600 !important;
  display: block;
}

.course__data .course-listing-subtitle {
  font-size: 16px;
  font-weight: 400 !important;
}

.search {
  display: none;
}

.view-directory .course-listing,
.view-directory .course-listing:hover,
.course-listing:hover,
.course-listing {
  background: none !important;
  border: 0px;
  box-shadow: none !important;
}

.course-listing .course__data .course-progress {
  font-size: 16px !important;
}

.course-listing .progressbar {
  margin-bottom: 0px;
}

.course-listing .course-progress {
  margin-top: 15px;
  display: block;
}

.progressbar,
.course-listing .progressbar {
  height: 15px;
  width: 100%;
  display: block;
  background-color: #e7eff7;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.course-listing .progressbar {
  margin-top: 20px;
  margin-bottom: 0px;
}

@keyframes bgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.progressbar .progressbar-fill {
  height: 15px;
  width: auto;
  float: left;
  border-radius: 20px;
  background-image: linear-gradient(to left, #0575e6, #021b79);
  animation: bgAnim 1.5s linear infinite;
  background-size: 400% 400%;
}

.title-container .btn-primary,
.section-list .btn-primary,
.section-list .btn-primary:hover,
.section-list .btn-primary:active:hover,
.section-list .btn-primary:focus:hover,
.title-container .btn-primary:hover,
.title-container .btn-primary:active:hover,
.title-container .btn-primary:focus:hover,
div.quiz-controls button.btn-primary,
div.quiz-controls button.btn-primary:hover,
div.quiz-controls button.btn-primary:active:hover,
div.quiz-controls button.btn-primary:focus:hover {
  background: #0575e6 !important;
  max-width: 120px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border: 0px !important;
  box-sizing: border-box;
}

div.quiz-controls button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.start-next-lecture {
  background-image: linear-gradient(to left, #0575e6, #021b79) !important;
}

.start-next-lecture:hover {
  background-image: linear-gradient(to left, #0575e6, #021b79) !important;
  transform: scale(1.05);
}
.description-row,
.description_with_share_icons,
.faq-answer {
  font-weight: 400 !important;
}
.lecture-text-container a {
  color: rgb(0, 122, 255) !important;
}
.quiz-controls {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
