@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import "variables.scss";
@import "mixins.scss";
@import "resets.scss";
@import "header.scss";
@import "course-card.scss";
@import "buttons.scss";
@import "reviews.scss";
@import "footer.scss";
@import "sales_page.scss";
@import "sales_blocks/checkout.scss";
@import "sales_blocks/glance.scss";
@import "sales_blocks/clone.scss";
@import "sales_blocks/video.scss";
@import "sales_blocks/requirements.scss";
@import "sales_blocks/specs.scss";

.homepage-hero {
  padding-top: 250px;
  color: inherit;
}

.course-sidebar {
  border-right: 0px;
}

.homepage_hero {
  background-color: transparent !important;
}

.course-listing {
  all: unset;
}

.featured_courses > .container > h2 {
  margin: 35px;
}

.lower-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  font-weight: 700;
  color: #284c8e;
  font-size: 18px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.lower-row > div {
  margin-bottom: 10px;
}

.lower-row .course-price {
  margin-left: auto;
}

.show-love {
  margin-top: 20px;
  display: none;
}

.course-section {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  background-color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
}

.course-section .section-title,
.course-section ul.section-list .section-item .item {
  background-color: transparent;
}

.course-section ul.section-list .section-item .item .btn-primary {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
}

.course-section .section-title {
  font-size: 18px;
}

#more_lecture_sections.collapsed {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  border: none;
}

.sexy-shadow {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.no-padding {
  padding: 0;
}
.blog-container {
  margin-bottom: 80px;
}
footer {
  bottom: 0px;
}

#enroll-button-top[data-course-id="351710"] {
  display: none;
}

@media (max-width: 960px) {
  .course-sidebar.collapse {
    display: none;
  }
  .course-mainbar {
    margin-left: 0 !important;
  }
}

.course-filter {
  display: flex;
  align-items: center;
}

.course-filter .btn-group button {
  padding: 5px !important;
}

.killSidebar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px 10px;
  cursor: pointer;
}

.killSidebar:hover {
  background-color: #2057a8;
}

.hiddenBar {
  transform: translateX(-500px);
}

.fullman {
  margin-left: 0 !important;
}

.is-scrolling {
  background-color: #232a38 !important;
}

.lecture-text-container a {
  color: rgb(0, 122, 255) !important;
}
.quiz-controls {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.u-block-row {
  width: 100%;
  max-width: 980px;
  padding: 0px 30px;
  margin-left: auto;
  margin-right: auto;
}
