.testimonials__page {
  margin: 120px 0px;
  .u-block-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonial {
    margin-bottom: 50px;
    width: 100%;
    max-width: 600px;
    display: flex;
    line-height: 160%;
    img {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      margin-right: 40px;
    }
    a {
      font-weight: 600 !important;
      color: $darkPurple;
      display: block;
      margin-top: 10px;
    }
  }
}
